.card-body{
  opacity: 100%;
  font-size: medium;
}

  html, body{
    height:100%;
    min-height: 100%;
    background-image: url("./images/HurricaneRidge.jpg");
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
  }

#social{
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.text-box{
  background-color: whitesmoke;
  opacity: .7;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  border-radius: 1rem;
}
.inside-text-box{
  text-align:center;
  font-weight: bold;
  color:#000000;
}

.card{
  border-radius: 1rem;
}
span{
  height:1rem;
}
