<div class='container-md' style="max-width: 70%;" >
<center>
    <div class="row pt-5">
        <div class="col-12 pt-5">
            <p class="bg-light">Thank you for Visiting my site. I am a current student of Computer Science through Oregon State University's E-Campus, 
            graduating Summer 2021. I am actively seeking an internship or Full time opportunity for after graduation, so please don't hesistate to reach out!</p>
        </div>
    </div>  


</div>