<div class="container-sm" >
    <div class="row pt-5 justify-content-md-center">
        <div class="col-12 pt-5">
            <div class="card mb-3" width>
                <div class="card-body">
                    <p class="card-text">I've always had an interest in building, fixing and learning how things work through hands on projects.
                    While this began with an interest in legos or bicycles at a young age and evolved into cars and motorcycles as I got older, I recently learned 
                    that with programming the possibilities for learning are seemlily endless and I can create without needing the budget or space for a project vehicle and parts. 
                    <br>
                    <br>
                    My computer science projects can be found linked on my Github, and short descriptions are located on the Engineering projects tab of my site. A few of my favorite non-computer related projects so far include:
                    <ul>
                        <li>Restoring an 80's Diesel Mercedes to be a reliable daily driver and road trip car</li>
                        <li>Learning woodworking so that I could build a travel trailer from scratch for camping and road trips</li>
                        <li>Learning Fuel Injection and Electronic ignition systems so I could convert a 1970's Volkswagon from Carb and Distributor to Electronic fuel injection. - 
                            I loved the challenge that came with learning how to do my own circuit and sensor wiring for sensors that weren't on the original car, as well as engine management computer configuration</li>
                    </ul>  
                    After my introduction into software and hardware with the VW engine management conversion I have started getting really excited about the possibilities for more digital project work going forward. 
                    </p>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <p class="card-text"> When I'm not working on a project of some sort or riding my motorcycle I love getting outdoors. Car camping, Snowshoeing, Backpacking 
                    with my wife or taking my dog Tater tot on walks around the neighborhood are all I've been able to do lately, but I hope to be able to travel to more exotic locations again soon as the world returns to normal. 
                    </p>
                </div>
                <img class="card-img-bottom" src="./images/Canyonlands.jpg" alt="Canyonlands">
            </div>
        </div>
    </div>
</div>