<div class="container-sm">
    <div class="row pt-5 justify-content-md-center">
        <div class="card mb-3">
            <div class="card-body">
                <p class="card-text">After beginning my career in Accounting and earning my CPA, I found that my favorite part of my work was 
                    building tools for the teams I worked on, teaching people how to use technology in a more clever or efficient way, to save everyone 
                    time and make the team's work go more smoothly. When I considered my career path and where I wanted to develop my skills I came to the conclusion 
                    while at EY that I didn't want to continue on to my scheduled advancement to Senior Accountant. I decided to transition into a
                    role that would provide me more time to explore computer science, while still allowing me to pay my way through school. In
                        the fall of 2019, I joined Zillow's Corporate accounting team and began taking computer science classes on my nights
                        and weekends. I loved the new challenge and was really interested in learning more, so after two community college courses I 
                        found the OSU Post-Baccaulaureate program and began my career path transition.
                </p>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <p class="card-text">In January of 2021 I returned to school full time to commit to the transition into Computer Science and focus my attention on learning the 
                skills I will need on my new path. If I sound like a good fit for your team, please don't hesitate to reach out! I am actively looking for a Full time position 
                for after I graduate in August 2021. 
                </p>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body" style="padding-top: 56.25%">
                <iframe src="https://drive.google.com/file/d/1tvIDF7SdmVsqC02m_uzPcSqj-n9iatZV/preview"></iframe>
            </div>
        </div>     
    </div>
</div> 