<div class="container-sm">
    <div class="row pt-5 justify-content-md-center">
        <div class="col-12 pt-5">
            <div class="card mb-3">
                <div class="card-body">
                    <p class="card-text"> My name is Mike McDonald, and I am Computer Science student with Oregon State University's E-Campus, 
                                            graduating Summer 2021. I am actively seeking an internship or full time software development opportunity, 
                                            so if you are hiring please don't hesistate to reach out!
                    </p>
                </div>
            </div>
        </div>
    </div>    
</div>