<div class="container pt-5" style="max-width: 50%;">
    <div class="row pt-5 justify-content-md-center">
        <div class="col-12 pt-5">
            <div class="text-box">
                <p class="inside-text-box"> My name is Mike McDonald, and I am Computer Science student with Oregon State University's E-Campus, 
                    graduating Summer 2021. I am actively seeking an internship or full time software development opportunity, so if you are hiring please don't hesistate to reach out!
                </p>
            </div>
        </div>
    </div>    
</div>